html, body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.checkmark {
  opacity: 0;
  transition: opacity 4s ease;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  padding: 0.75rem 1.5rem;
  margin-bottom: 0.5rem;
  background-color: #f7fafc;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.list-item:hover {
  background-color: #edf2f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.list-item.selected {
  background-color: #e2e8f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.list-item.selected .checkmark {
  animation: fadeIn 0.5s ease forwards;
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.input {
  display: none;
}

.input-label {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: #edf2f7;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
}

.input-label:hover {
  background-color: #e2e8f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.input-label-text {
  margin-left: 0.5rem;
}

.button {
  background-color: #4c51bf;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #434190;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}
